/* Estilo do corpo da home - Cawan */
section{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;
}

/* Definindo background e cor do texto da primeira sessão - Cawan */
section:first-of-type{
    background: url(../images/fundo-art.jpg);
    background-size: cover;
    color: #f8f8f8;
}

/* Estilização do texto da primeira sessão - Cawan */
section:first-of-type .texto h1{
    font-size: 160px;
    margin: 0;
}

section:first-of-type .texto{
    position: absolute;
    text-shadow: 7px 6px 0px black;
    background: hsla(0, 0%, 0%, 0.6);
}

section .caixas{
    position: relative;
    width: 100%;
    height: 100%;
}

/* Definindo o formato das bordas das sessões - Cawan */
.caixa-branca{
    width: 150px;
    height: 150px;
    background-color: #000000;
    position: absolute;
}

.caixa-branca:nth-child(1){
    left: 0;
    top: 0;
}

.caixa-branca:nth-child(2){
    right: 0;
    bottom: 0;
}

.caixa-branca:nth-child(3){
    left: 0;
    bottom: 0;
}

.caixa-branca:nth-child(4){
    right: 0;
    top: 0;
}

section:nth-of-type(2){
    background: url(../images/fundo-art-2.jpg);
    background-size: cover;
}

section .texto{
    position: absolute;
    background: hsla(0, 0%, 100%, 0.8);
    width: 75%;
    padding: 2%;
}

section .texto h1{
    font-size: 1.5em;
    margin: 0;
}

section .texto p, a{
    text-align: justify;
    text-align-last: center;
    font-size: 1em;
}

section:nth-of-type(3){
    background: url(../images/fundo-art-3.jpg);
    background-size: cover;
}

iframe{
    width: 500px;
    height: 300px;
}

section:nth-of-type(4){
    background: url(../images/fundo-art-4.jpg);
    background-size: cover;
}

section:nth-of-type(4) .galeria img{
    width: 30%;
    height: 400px;
}

section:nth-of-type(5){
    background: url(../images/fundo-art-5.jpg);
    background-size: cover;
}

a{
    color: black;
}

@media (max-width: 600px) { 
    section:first-of-type .texto h1{
        font-size: 60px;
    }
    
    .caixa-branca{
        width: 50px;
        height: 50px;
    }

    section .texto h1{
        font-size: 1em;
    }

    section .texto h2{
        font-size: 0.75em;
    }

    section .texto p, a{
        font-size: 0.6em;
    }

    iframe{
        width: 200px;
        height: 125px;
    }

    section:nth-of-type(4) .galeria img{
        display: none;
    }

    section:nth-of-type(4) .galeria img:first-of-type{
        display: block;
        width: 100%;
    }
}